* {
  box-sizing: border-box;
}
.items {
  min-width: 25%;
  margin: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  background-color: white;
  text-align: center;
  border-radius: 40px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 400px) {
  .card {
    min-width: 50vw;
  }
}
.title {
  color: gray;
  font-size: 10px;
}

button {
  border: none;
  padding: 8px;
  display: inline-block;
  color: white;
  background-color: black;
  cursor: pointer;
  width: 70%;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
}

input[type="checkbox"].check:checked {
  /* border-color: red; */
  background-color: rgb(10, 243, 68);
}
